html, body {
    height: 100%;
    margin: 0;
}
/* From Uiverse.io by vikiWayne */ 
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #2c9caf;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
}

button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}

button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
    }

button:hover::before {
    width: 250%;
}
// =====================главная========================//
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #23294a, #23294a);
    font-family: "Comic Relief", sans-serif;
    overflow: hidden;
}


.transition-circle {
    position: fixed;
    width: 100px;
    height: 100px;
    background: #23294a;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 9;
    transition: transform 1s ease-in-out;
}

.transition-circle.active {
    transform: translate(-50%, -50%) scale(25);
}






